<h2>パスワードお忘れの場合</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<div class="mx-auto container">
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-offset-3 form-control form-control-lg w-100" %>
      </div>

  <div class="actions text-right col-9 mt-md-5">
    <%= f.submit "Send me reset password instructions" %>
  </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
