<!DOCTYPE html>
<html>
  <head>
    <title>NaganoRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="wrapper">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container" style="padding-left: 0px; padding-right: 0px;">
                <%= link_to image_tag("header.png", width: '260', height: '50', alt: "NAGANO RECORDS"), root_path %>
            </div>
        </nav>
      <div class="mx-auto" style="width: 720px; padding: 20px;"><h3>ログイン</h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-auto form-control form-control-lg" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "col-auto form-control form-control-lg" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field text-right">
              <%= f.check_box :remember_me %>
              <%= f.label :次回以降、パスワードを記録する %>
            </div>
          <% end %>

          <div class="actions text-right">
            <%= f.submit "ログイン", class: "btn btn-success mx-auto btn-lg" %>
          </div>
        <% end %>
      </div>
        <div class="actions text-right">
          <%= render "admins/shared/links" %>
        </div>
      <footer><div align="center", style="line-height: 80px;">&copy; NAGANO RECORDS</div></footer>
    </div>
  </body>
</html>
