<div class="container"><div class="row"><div class="col-lg-9 mx-auto">
  <div class="container">
    <h2>商品編集</h2>
  </div>

  <%= form_with(model: product, url: admin_product_path) do |form| %>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <%= attachment_image_tag product, :jacket_image, fallback: "no_image.png", class: "rounded img-raised", id: "jacketImage" %>
        </div>
        <div class="col">
          <label for="selectImage" class="btn btn-info">
            ジャケット画像を選択
            <%= form.attachment_field :jacket_image, id: "selectImage", class: "d-none" %>
          </label>
          <p id="selectImageName" class="ml-2"></p>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="form-group">
        <%= form.label :name, "アルバム名" %>
        <%= form.text_field :name, id: "productName", class: "form-control", maxlength: 255 %>
      </div>

      <div class="form-group">
        <%= form.fields_for product.artist do |artist| %>
          <%= artist.label :name, "アーティスト" %>
          <%= artist.text_field :name, id: "artistName", class: "form-control", maxlength: 255 %>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.fields_for product.label do |label| %>
          <%= label.label :name, "レーベル" %>
          <%= label.text_field :name, id: "labelName", class: "form-control", maxlength: 255 %>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.fields_for product.genre do |genre| %>
          <%= genre.label :name, "ジャンル" %>
          <%= genre.text_field :name, id: "genreName", class: "form-control", maxlength: 255 %>
        <% end %>
      </div>

      <div class="form-group row">
        <div class="col">
          <%= form.label :price, "価格" %>
          <%= form.number_field :price, id: "productPrice", class: "form-control", min: 0 %>
        </div>
        <div class="col">
          <%= form.label :stock, "在庫数" %>
          <%= form.number_field :stock, id: "productStock", class: "form-control", min: 0 %>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th class="align-middle">Disc</th>
            <th class="align-middle">No.</th>
            <th class="align-middle">曲名</th>
            <th class="align-middle">再生時間</th>
            <th class="align-middle"><a id="addTrack" class="btn btn-info">追加</a></th>
          </tr>
        </thead>
        <tbody id="trackRecords">
          <% product.tracks.each do |track| %>
            <tr class="track-item">
              <%= form.fields_for "tracks[]", track do |t| %>
                <td></td>
                <td class="align-middle"><%= t.number_field :disc, class: "form-control track-disc", min: 0, max: 99, placeholder: "Disc" %></td>
                <td class="align-middle"><%= t.number_field :number, class: "form-control track-number", min: 0, max: 99, placeholder: "No." %></td>
                <td class="align-middle"><%= t.text_field :name, class: "form-control track-name", placeholder: "曲名" %></td>
                <td class="align-middle"><%= t.text_field :length, class: "form-control track-length", maxlength: 10, placeholder: "再生時間" %></td>
                <td class="align-middle"><a class="btn btn-danger text-white track-delete">削除</a></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="container mt-5">
      <%= form.label :summary, "商品紹介" %>
      <%= form.text_area :summary, class: "form-control" %>
    </div>

    <div class="container mt-5"><div class="row">
      <div class="col">
        <%= link_to "商品詳細へ戻る", admin_product_path(product), class: "btn btn-secondary" %>
      </div>
      <div class="col text-right">
        <a href="#!" id="submitCheck" class="btn btn-success" data-toggle="modal">内容を登録</a>
      </div>
    </div></div>

    <!-- Alert Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="alertModalLabel">確認してください</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>入力内容が空欄になっている項目があります。<br/>
            再度入力内容を確認してください。</p>
          </div>
          <div class="modal-footer text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Submit Modal -->
    <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="submitModalLabel">入力内容を登録</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>入力内容を登録しますか？</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">やめる</button>
            <%= form.submit "登録", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div></div></div>

<script>
  // エンターキーによるSubmitを妨害
  document.onkeypress = enter;
  function enter(){
    if( window.event.keyCode == 13 ){
      return false;
    }
  }

  $(function(){
    // オートコンプリート設置
    var artists = [
      <% artists.each do |artist| %>
        '<%= artist.name %>',
      <% end %>
    ];
    var labels = [
      <% labels.each do |label| %>
        '<%= label.name %>',
      <% end %>
    ];
    var genres = [
      <% genres.each do |genre| %>
        '<%= genre.name %>',
      <% end %>
    ];
    $('#artistName').autocomplete({ source: artists });
    $('#labelName').autocomplete({ source: labels });
    $('#genreName').autocomplete({ source: genres });

    // トラックをソート（最後のレコードのインデックス値取得）
    var last_item = $('.track-item:last');
    if (last_item.length > 0) {
      var last_index = Number(last_item.find('.track-disc').attr('id').match(/\d+/)) + 1;
    } else {
      var last_index = 1;
      add_track();
    }
    sort_track();

    // ファイル制限追加
    $('#selectImage').attr('accept', 'image/jpg,image/jpeg,image/png,image/gif');
    // 画像ファイルとファイル名を表示
    $('#selectImage').on('change', function(element) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#jacketImage').attr('src', e.target.result);
        $('#selectImageName').text(element.target.files[0].name);
      }
      reader.readAsDataURL(element.target.files[0]);
    });

    // トラックを追加
    $('#addTrack').on('click', add_track);
    // トラックを削除
    $(document).on('click', '.track-delete', function() {
      $('.track-item').eq($(this).parents('.track-item').index()).remove();
      if ($('.track-item').length <= 0) add_track();
    });
    // トラックをソート（番号変更時）
    $(document).on('blur', '.track-disc, .track-number', sort_track);

    // トラックの追加
    function add_track() {
      var track_disc = Number($('.track-item:last').find('.track-disc').val());
      var track_number = Number($('.track-item:last').find('.track-number').val()) + 1;

      if (isNaN(track_disc)) track_disc = 1;
      if (isNaN(track_number)) track_number = 1;

      $('#trackRecords').append(''
        + '<tr class="track-item">'
          + '<td></td>'
          + '<td class="align-middle">'
            + '<input class="form-control track-disc" min="0" max="99" type="number" value="' + track_disc + '" name="product[tracks][' + last_index + '][disc]" id="product_tracks_' + last_index + '_disc" placeholder="Disc">'
          + '</td>'
          + '<td class="align-middle">'
            + '<input class="form-control track-number" min="0" max="99" type="number" value="' + track_number + '" name="product[tracks][' + last_index + '][number]" id="product_tracks_' + last_index + '_number" placeholder="No.">'
          + '</td>'
          + '<td class="align-middle">'
            + '<input class="form-control track-name" type="text" name="product[tracks][' + last_index + '][name]" id="product_tracks_' + last_index + '_name"  placeholder="曲名">'
          + '</td>'
          + '<td class="align-middle">'
            + '<input class="form-control track-length" maxlength="10" size="10" type="text" name="product[tracks][' + last_index + '][length]" id="product_tracks_' + last_index + '_length" placeholder="再生時間">'
          + '</td>'
          + '<td class="align-middle">'
            + '<a class="btn btn-danger text-white track-delete">削除</a>'
          + '</td>'
        + '</tr>'
      );
      last_index++;
    }

    // 内容の確認ボタンが押された
    $('#submitCheck').on('click', valid_check);

    // トラックのソート
    function sort_track() {
      var table = $('#trackRecords');
      var tracks = $('.track-item');

      tracks.sort(function(a, b) {
        return $(a).find('.track-disc').val() - $(b).find('.track-disc').val() || $(a).find('.track-number').val() - $(b).find('.track-number').val();
      });
      
      table.empty();
      table.append(tracks);
    };

    // バリデーションチェック
    function valid_check() {
      var error_count = 0;
      var targets = ['#productName', '#artistName', '#labelName', '#genreName', '#productPrice', '#productStock', '.track-disc', '.track-number', '.track-name', '.track-length'];

      targets.forEach(function(target) {
        $(target).each(function(index, element) {
          if ($(element).val() == "") {
            $(element).addClass("is-invalid");
            error_count++;
          } else {
            $(element).removeClass("is-invalid");
          }
        });
      });

      if (error_count > 0) {
        $('#submitCheck').attr('data-target', '#alertModal');
      } else {
        $('#submitCheck').attr('data-target', '#submitModal');
      }
    }
  });
</script>
