<div class="container mt-5">
    <table class="table table-bordered">
	    <thead class="bg-success text-white">
		    <tr>
    		    <th>購入日</th>
	    		<th>購入者</th>
		    	<th>購入枚数</th>
                <th>小計（送料・税込）</th>
                <th>配送状況</th>
                <th>詳細</th>
            </tr>
        </thead>
    

    <tbody>
    <% orders.each do |order| %>
        <tr>
            <td><%= order.created_at %></td>
            <td>
             <%= order.user.last_name %>
             <%= order.user.first_name %>
            </td>
            <td><%= sum_quantity(order.order_products) %></td>
            <td><%= order.total %></td>
            <td><%= order.status %></td>
            <td>
            <%= link_to "詳細", admin_order_path(order.id) , class: "btn btn-primary btn-sm" %>
            </td>
        </tr>
    <% end %>
    <%= paginate orders, class: "paginate" %>
    </tbody>
</table>
</div>