<div class="container-fluid">
      <div class="row">
        <div class="col ml-3">
          <h2>注文詳細</h2>
        </div>
      </div>
    <%= form_for(@order, url: admin_order_path) do |f| %>
      <div class="row">
          <div class="col text-center">
            <label class="btn btn-info btn-round"><%= f.radio_button :status, 0 %>出荷準備中</label>
            <label class="btn btn-success btn-round"><%= f.radio_button :status, 1 %>出荷済み</label>
            <label class="btn btn-warning btn-round"><%= f.radio_button :status, 2 %>キャンセル待ち</label>
            <label class="btn btn-danger btn-round"><%= f.radio_button :status, 3 %>キャンセル</label>
          </div>
      </div>

      　<div class="row m-sm-2">
      　　<div class="col-md-5">
            <table>
              <tbody>
                <tr>
                  <th>注文日：　</th>
                  <td><%= @order.created_at %></td>
                </tr>
                <tr>
                  <th>購入者：　</th>
                  <td><%= @order.user.last_name %><%= @order.user.first_name %></td>
                </tr>
                <tr>
                  <th>合計（送料込）：　</th>
                  <td>￥ <%= @order.total.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
                </tr>
                <tr>
                  <th>支払方法：　</th>
                  <% if @order.payment == 0 %>
                    <td>銀行振込</td>
                  <% elsif @order.paymemt == 1 %>
                    <td>代金引換</td>
                  <% else %>
                    <td>クレジットカード</td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5">
          　<table>
              <tbody>
                <tr>
                  <th>ステータス：　</th>
                  <% if @order.status == 0 %>
                    <td>出荷準備中</td>
                  <% elsif @order.status == 1 %>
                    <td>出荷済み</td>
                  <% elsif @order.status == 2 %>
                    <td>キャンセル待ち</td>
                  <% else %>
                    <td>キャンセル済み</td>
                  <% end %>
                </tr>
                <tr>
                  <th>送付先：　</th>
                  <td><%= @order.zip_code %></td>
                </tr>
                <tr>
                  <th></th>
                  <td><%= @order.address %></td>
                </tr>
              </tbody>
            </table>
      　  </div>
        </div>


      <% @order_products.each do |orderproduct| %>
        <div class="row shadow-lg border border-secondary mx-5 my-2">
          <div class="col-md-3 m-2">
            <%= attachment_image_tag @product, :jacket_image, fallback: "no_image.png", size: "10×10" %>
          </div>

          <div class="col-md-5 mt-5">
            <h3><%= orderproduct.product.name %></h3>
            <table>
              <tbody>
                <tr>
                  <th>アーティスト　</th>
                  <td><%= orderproduct.product.artist.name %></td>
                </tr>
              </tbody>
            </table>
            
          </div>
          <div class="col-md-3 mt-5">
            <p><strong>価格：　￥ <%= orderproduct.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></strong></p><br>
            <%= f.fields_for :order_products do |opf| %>
              <div class="form-inline">
                <p>
                  <strong>数量：<%= opf.number_field :quantity, :value => orderproduct.quantity, min:0,max:10,step:1, class: "ml-1 mr-2 form-control" %></strong>
                </p>
              </div>
            <% end %>
          </div>
      　</div>
      <% end %>
      <div class="row">
        <div class="col mr-5 text-right">
          <%= f.submit "変更確定" , class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
</div>
