<div class="container">
<div class="row">
<div class="user-info">
    <h4><%= user.last_name %><%= user.first_name %></h4>
    <h4><%= user.last_name_ruby %><%= user.first_name_ruby %></h4>
    <h4><%= user.email %></h4>
    <h4><%= user.zip_code %></h4>
    <h4><%= user.address %></h4>
    <h4><%= user.phone_number %></h4>
</div>
</div>
</div>

<<<<<<< HEAD
<%= link_to "編集", user_edit, class: "btn btn-success" %>
    
=======

>>>>>>> 63f6866488324d235fac90cd98eba75580532942
