
<table class="w-100 table-hover table-sm">
<thead>
</thead>
    <tbody class="col-md-12 ">
        <tr>
            <th><h5>名前(姓名)：　<%= user.first_name %>  <%= user.last_name %></h5></th>
        </tr>

        <tr>
            <th><h5>名前(カタカナ)：  <%= user.first_name_ruby %>  <%= user.last_name_ruby %></h5></th>
        </tr>

        <tr>
           <th><h5>メールアドレス：　<%= user.email %></h5></th>
        </tr>

        <tr>
           <th><h5>郵便番号：　<%= user.zip_code %></h5></th>
        </tr>

        <tr>
           <th><h5>住所：　<%= user.address %></h5></th>
        </tr>

        <tr>
            <th><h5>電話番号： <%= user.phone_number %></h5></th>
        </tr>
    </tbody>
</table>

