<div class="container-fluid">
  <div class="row">
      <div class="col ml-5">
          <h2>購入履歴</h2>
      </div>
  </div>

  <% @orders.each do |order| %>
    <div class="row rounded bg-info shadow-lg m-sm-5">

      <div class="col-5">
      　<table>
          <tbody>
            <tr>
              <th>注文日：　</th>
              <td><%= order.created_at %></td>
            </tr>
            <tr>
              <th>購入者：　</th>
              <td><%= order.user.last_name %><%= order.user.first_name %></td>
            </tr>
            <tr>
              <th>合計：　</th>
              <td>￥ <%= order.total.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></td>
            <tr>
              <th>支払方法：　</th>
              <% if order.payment == 0 %>
                    <td>銀行振込</td>
                  <% elsif order.payment == 1 %>
                    <td>代金引換</td>
                  <% else %>
                    <td>クレジットカード</td>
                  <% end %>
            </tr>
          </tbody>
        </table>
      </div>
           
      <div class="col-5">
      　<table>
          <tbody>
            <tr>
              <th>ステータス：　</th>
              <% if order.status == 0 %>
                    <td>出荷準備中</td>
                  <% elsif order.status == 1 %>
                    <td>出荷済み</td>
                  <% elsif order.status == 2 %>
                    <td>キャンセル待ち</td>
                  <% else %>
                    <td>キャンセル済み</td>
                  <% end %>
            </tr>
            <tr>
              <th>送付先：　</th>
              <td><%= order.zip_code %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= order.address %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% order.order_products.each do |orderproduct| %>
        <div class="row bg-light m-5">
          <div class="col-md-3 m-2">
              <%= attachment_image_tag orderproduct.product, :jacket_image, fallback: "no_image.png", size: "10×10" %>
          </div>

          <div class="col-md-5 mt-5">
            <h3><%= link_to orderproduct.product.name,product_path(orderproduct.product.id) %></h3>
            <table>
              <tbody>
                <tr>
                  <th>アーティスト　</th>
                  <td><%= orderproduct.product.artist.name %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-3 mt-5">
            <p><strong>価格：　￥ <%= orderproduct.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></strong></p><br>
            <p><strong>数量：  <%= orderproduct.quantity %></strong></p>
          </div>
        </div>
      <% end %>

      <% if order.status == 0 %>
        <div class="col mr-5 text-right">
          <%= link_to "キャンセル",order_path(order.id, params: {status: 2}), method: :put , class: 'btn btn-danger' %>
        </div>
      <% end %>

    </div>
  <% end %>
  <%= paginate @orders, class: "paginate" %>
</div>


