<!DOCTYPE html>
<html>
  <head>
    <title>NaganoRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
          <%= link_to image_tag("header.png", width: '50', alt: "NAGANO RECORDS"), root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
          <form class="form-inline ml-auto" data-background-color>
                <div class="form-group has-white">
                  <input type="text" class="form-control search" placeholder="Search">
                </div>
          </form>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <% if user_signed_in? %>
              <li class="nav-item"><% link_to "ユーザー", products_path, class:"fas fa-user" %></li>
              <li class="nav-item"><% link_to "ログアウト", destroy_user_session_path, :method => :delete, class:"fas fa-sign-out-alt" %></li>
              <li class="nav-item"><% link_to "カート", carts_path, class:"fas fa-shopping-cart" %></li>
              <% elsif admin_signed_in? %>
              <li class="nav-item"><% link_to "商品一覧", admin_products_path, class:"fas fa-user" %></li>
              <li class="nav-item"><% link_to "注文一覧", admin_orders_path, class:"fas fa-user" %></li>
              <li class="nav-item"><% link_to "ユーザー一覧", admin_users_path, class:"fas fa-user" %></li>
              <li class="nav-item"><% link_to "ログアウト", destroy_admin_session_path, :method => :delete, class:"fas fa-sign-out-alt" %></li>
              <% else %>
              <li class="nav-item"><% link_to "サインイン", new_user_registration_path, class:"fas fa-user-plus" %></li>
              <li class="nav-item"><% link_to "ログイン", new_user_registration_path, class:"fas fa-sign-in-alt" %></li>
              <% end %>
              <% unless admin_signed_in? %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    <%= yield %>
    <footer style= "background-color: #333333"><p class= "footer-text">&copy; NAGANO RECORDS</p></footer>
  </body>
</html>
