<!DOCTYPE html>
<html>
  <head>
    <title>NaganoRecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <% if user_signed_in? %>
            <%= link_to current_user.first_name+current_user.last_name+"さん",users_path, style: "font-size: 15px;" %>
            <% end %>
          <%= link_to image_tag("header.png", width: '240', height: '50', alt: "NAGANO RECORDS"), root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
          <form class="form-inline text-center" data-background-color>
                <div class="form-group has-white">
                  <input type="text" class="col-auto form-control search", style="width: 400px;", placeholder="商品やアーティスト名などで検索">
                  <button type="submit" class="btn btn-neutral btn-round">検索</button>
                </div>
          </form>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav  ml-auto">
                <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "ユーザー", users_path, class:"fas fa-user nav-link" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class:"fas fa-sign-out-alt nav-link" %></li>
                <li class="nav-item"><%= link_to "カート", carts_path, class:"fas fa-shopping-cart nav-link" %></li>
                <% elsif admin_signed_in? %>
                <li class="nav-item"><%= link_to "商品一覧", admin_products_path, class:"fas fa-user nav-link" %></li>
                <li class="nav-item"><%= link_to "注文一覧", admin_orders_path, class:"fas fa-user nav-link" %></li>
                <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class:"fas fa-user nav-link" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, :method => :delete, class:"fas fa-sign-out-alt nav-link" %></li>
                <% else %>
                <li class="nav-item"><%= link_to "サインイン", new_user_registration_path, class:"fas fa-user-plus nav-link" %></li>
                <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class:"fas fa-sign-in-alt nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </nav>
    <%= yield %>
<nav class="navbar navbar-light bg-default footer"><div class="mx-auto">&copy; NAGANO RECORDS</div></nav>
  </body>
</html>
