<h3 style="padding-left: 200px; padding-top: 20px;">ログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="container form-group form-inline">

  <div class="field col-6">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-offset-3 form-control form-control-lg w-100" %>
  </div>

  <div class="field col-6">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "col-lg-offset-3 form-control form-control-lg w-100" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-right col-9">
      <%= f.check_box :remember_me, class: "form-check-label" %>
      <%= f.label :このログインを記憶する %>
    </div>
  <% end %>

  <div class="actions text-right col-9">
    <%= f.submit "ログイン", class: "btn btn-success mx-auto btn-lg" %>
  </div>
<% end %>
  </div>
<div class="text-right">
<%= render "users/shared/links" %>
</div>