<h3 style="padding-left: 200px; padding-top: 20px;">ユーザー編集</h3>

<%= form_with url: admin_user_path, method: :patch, local: true do |f| %>
    <div class="mx-auto container">

    <div class="form-group form-inline row">
      <div class="field col-3">
        <%= f.label :名前（姓）, class: "float-left" %><br />
        <%= f.text_field :last_name, autofocus: true, class: "col-lg-offset-3 form-control form-control-lg w-100" %>
      </div>

      <div class="field col-3">
        <%= f.label :名前（名）, class: "float-left" %><br />
        <%= f.text_field :first_name, class: "col-auto form-control form-control-lg w-100" %>
      </div>
    </div>

    <div class="form-group form-inline row">
      <div class="field col-3">
        <%= f.label :名前（セイ）, class: "float-left" %><br />
        <%= f.text_field :last_name_ruby, class: "col-auto form-control form-control-lg w-100" %>
      </div>
      <div class="field col-3">
        <%= f.label :名前（メイ）, class: "float-left" %><br />
        <%= f.text_field :first_name_ruby, class: "col-auto form-control form-control-lg w-100" %>
      </div>
    </div>

    <div class="field col-6">
      <%= f.label :郵便番号（ハイフン無しで入力して下さい） %><br />
      <%= f.text_field :zip_code, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :住所 %><br />
      <%= f.text_field :address, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :電話番号（ハイフン無しで入力して下さい） %><br />
      <%= f.text_field :phone_number, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autocomplete: "email", class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="actions text-right col-9">
      <%= f.submit "登録変更", class: "btn btn-success mx-auto btn-lg" %>
    </div>
  </div>
  <% end %>