<h3 style="padding-left: 200px; padding-top: 20px;">ユーザー編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="mx-auto container">

    <div class="form-group form-inline row">
      <div class="field col-3">
        <%= f.label:名前（姓）, class: "float-left" %><br />
        <%= f.text_field :last_name, autofocus: true, class: "col-lg-offset-3 form-control form-control-lg w-100" %>
      </div>

      <div class="field col-3">
        <%= f.label :名前（名）, class: "float-left" %><br />
        <%= f.text_field :first_name, class: "col-auto form-control form-control-lg w-100" %>
      </div>
    </div>

    <div class="form-group form-inline row">
      <div class="field col-3">
        <%= f.label :名前（セイ）, class: "float-left" %><br />
        <%= f.text_field :last_name_ruby, class: "col-auto form-control form-control-lg w-100" %>
      </div>
      <div class="field col-3">
        <%= f.label :名前（メイ）, class: "float-left" %><br />
        <%= f.text_field :first_name_ruby, class: "col-auto form-control form-control-lg w-100" %>
      </div>
    </div>

    <div class="field col-6">
      <%= f.label :郵便番号（ハイフン無しで入力して下さい） %><br />
      <%= f.text_field :zip_code, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :住所 %><br />
      <%= f.text_field :address, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :電話番号（ハイフン無しで入力して下さい） %><br />
      <%= f.text_field :phone_number, class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autocomplete: "email", class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      （<%= @minimum_password_length %> 文字以上入力してください）
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "col-auto form-control form-control-lg w-100" %>
    </div>

    <div class="field col-6">
      <%= f.label :パスワード（確認） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-auto form-control form-control-lg w-100" %>
    </div>


    <div class="actions text-right col-9">
      <%= f.submit "同意して次へ", class: "btn btn-success mx-auto btn-lg" %>
    </div>
  </div>